/* Clock Container Styling */
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:blueviolet; 
 
  color: #ffffff; /* White text */
  font-family: 'Courier New', monospace; /* Digital font look */
}

/* Time Styling */
#clock {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0;
  color: #eea731;
  
}

/* Date Styling */
#date {
  font-size: 22px;
  opacity: 0.9;
}

#date, #clock {
  padding: 10px 20px;
  border-radius: 8px;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
}